/* Подключение шрифтов */
@font-face {
  font-family: "ManropeBold";
  src: url(../fonts/Manrope-Bold.ttf);
}

@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope-Regular.ttf);
}

@font-face {
  font-family: "ManropeLight";
  src: url(../fonts/Manrope-Light.ttf);
}

/* Сброс базовых стилей */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  outline: none;
}

/* Общие стили для всего приложения */

body {
  background: #031b34;
  padding: 0 2rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a,
button {
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}


a:hover,
button:hover {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

button:hover {
  background-color: #ae67fa;
}

ul li {
  list-style-type: none;
}

h1 {
  font-size: 60px;
  color: #ae67fa;
}

h2 {
  font-size: 34px;
}

h1,
h2 {
  font-family: "ManropeBold", sans-serif;
  background: linear-gradient(90deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "ManropeBold", sans-serif;
  color: #fff;
  font-size: 24px;
}

p {
  font-size: 16px;
  color: #fff;
}

.btn {
  display: flex;
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.primary-btn {
  background-color: #ff4820;
}

.section {
  max-width: 1169px;
  width: 100%;
}

.lined_header {
  background: url("../assets/img/gradient_line.svg") no-repeat 0 0 transparent;
  padding: 1rem 0;
}

/* Стили для Шапки */

.header {
  display: flex;
  max-width: 1169px;
  margin: 0 auto;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background: #031b34;
}

.header .header__logo .logo__link {
  display: flex;
  align-items: center;
}

.header .header__menu .menu {
  display: flex;
  column-gap: 2rem;
}

.header .header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.header .header__right.hidden {
  opacity: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  visibility: hidden;
}

.header .header__right .menu__close {
  width: 38px;
  height: 38px;
}

.header .header__right .menu__close.hidden {
  display: none;
}

.header__menu button {
  cursor: pointer;
}

.header .header__menu .menu .menu__item a {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.header .header__menu .menu .menu__item:hover a {
  border-bottom-color: #fff;
}

.header .header__menu .menu .menu__item.active a {
  color: #f49867;
  border-bottom-color: #f49867;
}

.header .header__burger_menu {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  cursor: pointer;
}

.header .header__burger_menu.hidden {
  display: none;
}

.header .header__burger_menu .burger_menu__line,
.header .header__right .menu__close .menu__line {
  width: 43px;
  height: 5px;
  border-radius: 2px;
  background: #fff;
}

.header .header__right .menu__close .menu__line:nth-child(1) {
  position: relative;
  top: 15px;
  right: 4px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.header .header__right .menu__close .menu__line:nth-child(2) {
  position: relative;
  top: 10px;
  right: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.header .cta_buttons {
  display: flex;
  column-gap: 1rem;
}

/* Стили для первого экрана (Хиро секция) */

.hero_section {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  /* min-height: 60vh; */
  margin: 14rem 0 3rem;
}

.hero_section .hero_section__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
  width: 75%;
}

.hero_section .hero_section__left .left__description {
  color: #81afdd;
}

.hero_section .hero_section__left .left__cta_buttons {
  display: flex;
  width: 100%;
}

.hero_section .hero_section__left .left__cta_buttons input[type="text"] {
  min-width: 250px;
  width: 70%;
  padding: 8px 32px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #052d56;
  border-bottom: none;
  background-color: #052d56;
}

.hero_section .hero_section__left .left__cta_buttons .btn {
  border-radius: 0 4px 4px 0;
}

.hero_section .hero_section__right {
  height: 100%;
}

.hero_section .hero_section__right img {
  width: 100%;
}

/* Секция брендов */

.brands_section {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0 0 6rem 0;
  column-gap: 3rem;
}

/* Что такое Chat GPT */

.what_is_chatgpt_section {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin: 6rem 0;
  row-gap: 7rem;
  background: url(../assets/img/what_is_gpt_3_bg.svg) no-repeat 0 0 / cover;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top {
  display: flex;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__header {
  flex: 30%;
}

.what_is_chatgpt_section .what_is_chatgpt_section__top .top__content {
  flex: 65%;
  color: #81afdd;
  font-size: 14px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
  width: 500px;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a {
  color: #ff8a71;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.what_is_chatgpt_section .what_is_chatgpt_section__middle a:hover {
  border-bottom: 1px solid #ff8a71;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 2rem;
}

.what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.what_is_chatgpt_section
  .what_is_chatgpt_section__bottom
  .bottom__container
  .container__content {
  color: #81afdd;
  font-size: 14px;
  line-height: 1.8;
}

/* Будущее наступило */

.future_here {
  display: flex;
  column-gap: 6rem;
  margin: 6rem 0 2rem;
}

.future_here .future_here__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  flex: 2;
}

/* .future_here .future_here__left .left__header {
} */

.future_here .future_here__left .left__cta {
  color: #f49867;
  border-bottom: 1px solid transparent;
}

.future_here .future_here__left a:hover {
  border-bottom: 1px solid #f49867;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.future_here .future_here__right {
  flex: 3;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.future_here .future_here__right .right__container {
  display: flex;
  justify-content: space-between;
}

.future_here .future_here__right .right__container .container__header {
  width: 35%;
}

.future_here .future_here__right .right__container .container__content {
  width: 55%;
  color: #81afdd;
}

/* Possibilities */

.possibilities {
  display: flex;
  column-gap: 1.2rem;
  margin: 3rem 0px 9.7rem;
  max-width: 1024px;
}

.possibilities .possibilities__left img{
  width: 34rem;
}

.possibilities .possibilities__right {
  height: 21rem;
  margin-top: 16.5rem;
}

.possibilities .possibilities__right .right__header.second_header{
  margin-right: 3.3rem;
  margin-bottom: 1.4rem;
}

.possibilities .possibilities__right .right__header.first_header{
  background: #71E5FF;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16px;
  margin-bottom: 0.6rem;
}

.possibilities .possibilities__right .right__paragraph {
  color: #81AFDD;
  margin-bottom: 31px;
}

.possibilities .possibilities__right .rigth__ref{
  color: #f49867;
}

.possibilities .possibilities__right a:hover {
  border-bottom: 1px solid #f49867;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

/* register_and_exploring */

.register_and__exploring {
  width: 73rem;
  height: 10.8rem;
  border-radius: 0.7rem;
  border: 1px solid #000;
  background: linear-gradient(90deg, #AE67FA 1.84%, #F49867 102.67%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.register_and__exploring .exploring__rectangle {
  display: flex;
  justify-content: space-between;
}

.register_and__exploring .exploring__rectangle .rectangle__content{
  margin-top: 3.5rem;
  margin-left: 2.8rem;
}

.register_and__exploring .exploring__rectangle .rectangle__content .content__header {
  background: #0E0E0E;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
}

.register_and__exploring .exploring__rectangle .rectangle__content .content__paragraph {
  color: #000;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 45px;
}

.register_and__exploring .exploring__rectangle .rectangle__get_started__button{
  width: 11.8rem;
  height: 3.6rem;
  border-radius: 2.5rem;
  margin-right: 2.3rem;
  margin-top: 3.6rem;
  background: #000; 
  color: #FFF;
  font-size: 18px;
  border: none;
}

.register_and__exploring .exploring__rectangle button:hover {
  background-color: #ae67fa;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

/* blog */

.blog{
  margin-top: 7rem;
  max-width: 73rem;
  width: 100%;
}

.blog .blog__top__container {
  display: flex;
  justify-content: start;
  font-size: 62px;
  width: 43.8rem;
  height: 10.4rem;
}

.blog .blog__news__group {
  display: flex;
  margin-top: 6.7rem;
}

.blog .blog__news__group a {
  border-bottom: 1px solid transparent;
}

.blog .blog__news__group a:hover {
  border-bottom: 1px solid #fff;
}

.blog .blog__news__group .group__left {
  display: flex;
  flex-direction: column;
  width: 26.1rem;
  height: 43.5rem;
}

.blog .blog__news__group .group__left .left__container {
  background-color: #042C54;
  height: 25.4rem;
}

.blog .blog__news__group .group__left .left__container .container__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2.1rem;
  margin-left: 1.6rem;
}

.blog .blog__news__group .group__left .left__container .container__content .content__date {
  color: #FFF;
  font-size: 11.649px;
}

h5 {
  color: #FFF;
  font-size: 25.11px;
  width: 19.4rem;
}

.blog .blog__news__group .group__left .left__container .container__content .content__full_article{
  margin-top: 12.7rem;
  color: #FFF;
  font-size: 11.649px;
}

.blog .blog__news__group .group__right {
  display: flex;
  row-gap: normal;
  align-content: space-between;
  justify-content: space-evenly;
  flex-flow: column wrap;
  flex-direction: row;
}

.blog .blog__news__group .group__right .right__article {
  width: 20.5rem;
  height: 20.25rem;
  display: flex;
  flex-direction: column;
}

.blog .blog__news__group .group__right .right__article .article__container {
  background-color: #042C54;
  height: 12rem;
}

.blog .blog__news__group .group__right .right__article .article__container .container__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0.8rem;
  margin-left: 1.6rem;
}

.blog .blog__news__group .group__right .right__article .article__container .container__content .content__date {
  color: #FFF;
  font-size: 11.649px;
}

.blog .blog__news__group .group__right .right__article .article__container .container__content .content__header {
  color: #FFF;
  width: 13.675rem;
  font-size: 19.315px;
}

.blog .blog__news__group .group__right .right__article .article__container .container__content .content__full_article {
  color: #FFF;
  font-size: 11.649px;
  margin-top: 2.72rem;
}

/* footer */

.footer {
  margin-top: 6rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.footer .footer__header {
  align-self: center;
  text-align: center;
  width: 54rem;
  margin-top: 10.9rem;
}

.footer .footer__button {
  align-self: center;
  width: 13.6rem;
  height: 4rem;
  color: #FFF;
  background-color: #031b34;
  margin-top: 4rem;
  padding: 1.3rem;
  border: 0.0625rem solid #FFF;
}

.footer button:hover {
  background-color: #ae67fa;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.footer .footer__container {
  display: flex;
  margin-top: 11.25rem;
  flex-direction: row;
  justify-content: space-between;
}

.footer .footer__container a {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.footer .footer__container a:hover {
  border-bottom: 1px solid #fff;
}

.footer .footer__container .container__logo .logo__text {
  margin-top: 1.5625rem;
  width: 10.5rem;
  height: 1.875rem;
  color: #FFF;
  font-size: 12px;
}

.footer .footer__container .container__links .links_header {
  color: #FFF;
  font-size: 14px;
  margin-bottom: 2rem;
}

.footer .footer__container .container__links .links_link {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  color: #FFF;
  font-size: 12px;
  width: fit-content;
}

.special {
  width: 7.25rem;
}

.footer .footer__rights {
  margin-top: 4rem;
  align-self: center;
  color: #FFF;
  font-size: 12px;
}

/* Медиа запросы для адаптива */

@media screen and (max-width: 1024px) {
  .page {
    align-content: center;
  }

  .header {
    padding: 2rem;
  }

  .header .header__logo .logo__link img {
    width: 200%;
  }

  .header .header__right {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 53px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: #031b34;
  }

  .header .header__menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .header .header__menu .menu {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .header .header__menu .menu__close {
    position: absolute;
    cursor: pointer;
    right: -6.25rem;
    top: -6.25rem;
  }

  .header .header__menu .menu .menu__item a {
    font-size: 48px;
  }

  .hero_section {
    flex-direction: column;
    justify-content: center;
    column-gap: 0;
    /* margin: 0; */
    width: 90%;
  }

  .hero_section .hero_section__left {
    width: 100%;
    text-align: center;
  }

  .hero_section .hero_section__right {
    display: flex;
    justify-content: center;
  }

  .hero_section .hero_section__right img {
    width: 60%;
  }

  .hero_section .hero_section__left .left__cta_buttons {
    justify-content: center;
  }

  .what_is_chatgpt_section {
    row-gap: 4rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__middle {
    flex-direction: column;
    row-gap: 1rem;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom .bottom__container {
    row-gap: 0;
  }

  .future_here {
    column-gap: 0;
    flex-direction: column;
    row-gap: 4rem;
  }

  .future_here .future_here__left {
    row-gap: 1rem;
  }

  /* posibilities */

  .possibilities .possibilities__left img {
    width: 29rem;
  }

  .possibilities .possibilities__right {
    margin-top: 12.5rem;
  }

  /* register_and_exploring */

  .register_and__exploring {
    width: 60rem;
  }

  .register_and__exploring .exploring__rectangle .rectangle__content .content__paragraph {
    font-size: 22px;
  }

  /* blog */

  .blog .blog__top__container {
    text-align: center;
    width: auto;
  }

  .blog .blog__news__group {
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
  }

  .blog .blog__news__group .group__right {
    row-gap: 3rem;
  }
  
}

@media screen and (max-width: 766px) {
  p {
    font-size: 14px;
    line-height: 1.5;
  }
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 19px;
  }

  .header .header__menu .menu__close {
    position: absolute;
    cursor: pointer;
    right: -6.25rem;
    top: -6.25rem;
  }

  .hero_section {
    width: 100%;
  }

  .brands_section {
    margin-top: -15px;
    padding-bottom: 0;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__top {
    flex-direction: column;
  }

  .hero_section .hero_section__right img {
    width: 85%;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__middle .middle__header {
    width: auto;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    flex-direction: column;
  }

  .what_is_chatgpt_section .what_is_chatgpt_section__bottom {
    row-gap: 2rem;
  }

  .what_is_chatgpt_section {
    row-gap: 3rem;
  }

  .what_is_chatgpt_section {
    margin: 6rem 0 0;
  }

  .what_is_chatgpt_section
    .what_is_chatgpt_section__bottom
    .bottom__container
    .container__content {
    line-height: 1.5;
  }

  /* posibilities */
  .possibilities .possibilities__left img {
    width: 23rem;
  }

  .possibilities .possibilities__right {
    margin-top: 6.5rem;
    width: 20rem;
  }

  .possibilities .possibilities__right .right__header.first_header {
    font-size: 13px;
  }

  .possibilities .possibilities__right .right__header.second_header {
    font-size: 23px;
    margin-right: 0;
  }

  .possibilities .possibilities__right .rigth__ref {
    font-size: 13px;
  }

  /* register_and__exploring */
  .register_and__exploring {
    width: 45rem;
    height: 8.8rem;
  }

  .register_and__exploring .exploring__rectangle .rectangle__content .content__header {
    font-size: 10px;
  }

  .register_and__exploring .exploring__rectangle .rectangle__content .content__paragraph {
    font-size: 17px;
  }

  .register_and__exploring .exploring__rectangle .rectangle__get_started__button {
    width: 7.8rem;
    height: 2.6rem;
    font-size: 15px;
  }

  .register_and__exploring .exploring__rectangle .rectangle__content {
    margin-top: 2.5rem;
  }

  .register_and__exploring .exploring__rectangle .rectangle__get_started__button {
    margin-top: 2.6rem;
  }

  /* blog */
  h5 {
    font-size: 22px;
  }

  .blog .blog__news__group .group__right .right__article .article__container .container__content .content__header {
    font-size: 17px;
  }

  /* footer */

  .footer .footer__header {
    width: 45rem;
    font-size: 48px;
  }
}

@media screen and (max-width: 860px) {
  .possibilities .possibilities__right{
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 765px) {
  a {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 19px;
  }

  .header .header__menu .menu__close {
    position: absolute;
    cursor: pointer;
    right: -6.25rem;
    top: -6.25rem;
  }

  .hero_section .hero_section__left .left__cta_buttons input[type="text"] {
    min-width: auto;
  }

  .future_here {
    row-gap: 3rem;
  }

  .future_here .future_here__right .right__container {
    flex-direction: column;
  }

  .future_here .future_here__right .right__container .container__header {
    width: 100%;
  }

  .future_here .future_here__right .right__container .container__content {
    width: 100%;
  }

  .future_here .future_here__right {
    row-gap: 2rem;
  }

  /* posibilities */
  .possibilities {
    column-gap: 0;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .possibilities .possibilities__left img {
    width: 20rem;
  }

  .possibilities .possibilities__right {
    margin-top: 2.5rem;
  }

  /* register_and__exploring */
  .register_and__exploring {
    width: auto;
  }

  .register_and__exploring .exploring__rectangle .rectangle__content {
    margin-left: 1.8rem;
  }

  .register_and__exploring .exploring__rectangle .rectangle__content .content__paragraph{
    font-size: 14px;
    line-height: 29px;
  }

  .register_and__exploring .exploring__rectangle .rectangle__get_started__button {
    margin-right: 1.3rem;
    width: 6.8rem;
    font-size: 11px;
  }

  /* blog */
  .blog .blog__news__group {
    margin-top: -0.3rem;
  }

  .blog .blog__top__container .container__header {
    font-size: 36px;  
  }

  /* footer */
  .footer .footer__header {
    width: auto;
    font-size: 37px;
  }

  .footer .footer__button {
    width: 11.6rem;
    height: 4rem;
  }

  .footer .footer__container {
    margin-top: 9.25rem;
  }

  .footer .footer__container .container__logo .logo__text {
    font-size: 10px;
  }

  .footer .footer__container .container__links .links_header {
    font-size: 12px;
  }

  .footer .footer__container .container__links .links_link {
    font-size: 9px;
  }
}

@media screen and (max-width: 425px) {
  .header .header__menu .menu__close{
    position: absolute;
    right: -51px;
    top: -100px;
  }

  .footer .footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer .footer__container .container__links{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .footer__container .container__links .links_link{
    margin-bottom: 0.4rem
  }

  .footer .footer__container .container__links .links_header{
    margin-bottom: 0.8rem;
    margin-top: 1.5rem;
  }

  .blog .blog__news__group .group__left{
    width: 24.1rem;
  }
}
